{%extends 'base.html.twig' %}


{% block contenu %}
<h1>Bienvenue sur la page d'accueil de ProStage </h1>


<div class="container-fluid">
			<div class="row">
			{% for stageCourant in stages %}
		<div class="col-md-3 col-sm-6">
			<h2>
				{{stageCourant.titre}}  
			</h2>
			<p>
				Détails : {{stageCourant.description}}
			</p>
			<p>
				<a class="btn" href="stages/{{stageCourant.id}}">View details »</a>
			</p>
		</div>
		
	{% endfor %}
        </div>
{% endblock %}