{%extends 'base.html.twig' %}


{% block contenu %}
<h1>Bienvenue sur la page d'accueil de ProStage </h1>

<div class="row" style="margin-top:20px;">
		{% for stageCourant in stages %}
		<div class="row">
		<div class="col-md-12">
			<h2>
				Titre du stage : {{stageCourant.titre}} 
			</h2>
			<br/>
			<p>
				Voici le détail du stage : {{stageCourant.description}}
			</p>
			<br/>
			<p>
				<a class="btn" href="stages/{{stageCourant.id}}"> Plus d'informations</a>
			</p>
			<br/>
		</div>
	</div>
	
</div>
<br/>
	{% endfor %}
        </div>
{% endblock %}